<%- include('./includes/header', path); %>

        <div class="container">

            <div class="w-100 d-flex flex-row-reverse mb-4">
                <a class="btn btn-dark" href="/player" role="button">Ajouter un joueur</a>
            </div>
    
            <table class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Poste</th>
                    <th scope="col">Age</th>
                    <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                <% list.forEach((player, index)=>{%>
                    <tr>
                    <th scope="row"><%= index %></th>
                    <td><%= player.dataValues.name %></td>
                    <td><%= player.dataValues.position %></td>
                    <td><%= player.dataValues.age %></td>
                    <td>
                        <a href="/player/<%= player.dataValues.id %>" class=" tn btn-primary">info</a>
                    </td>

                    <td class="d-flex justify-content-end">
                        <form action="/player/add_to_my_team" method="POST">
                            <input type="hidden" name="playerId" value="<%= player.dataValues.id %>">
                            <button type="submit" class="btn btn-primary btn-sm">Ajouter à mon équipe</button>
                        </form>
                    </td>
                    </tr>
                <% }); %>

                </tbody>
            </table>

            <div> 

                <div>
                    <a href="/players?page=0&&size=3" class=" tn btn-primary">0</a>
                </div>
                <div>
                    <a href="/players?page=<%=  %>&size=<%= size %>" class=" tn btn-primary">page précédente</a>
                </div>



                    <a href="/players?page=<%= parseInt(page) + 1 %>&size=<%= size %>" class=" tn btn-primary">page suivante</a>
                </div> 
            </div>
        </div>
        
    
        <script language="javascript" src="js/bootstrap.min.js"></script>
    </body>
</html>