<%- include('./includes/header'); %>

    <div class="container">
        <h1 class="bg-warning"><%= title %></h1>
        <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque neque minus dicta fugit eos, voluptate accusantium nulla sequi odio repellat voluptas maxime ex facilis rem culpa corrupti veniam hic sint.</p>
        <p class="text-success">dsdsd</p>

        <a class="btn btn-primary" href="/player" role="button">Ajouter un joueur</a>
    
        <div id="grid" class="my-3">
            <div class="d-flex flex-row justify-content-between p-1 border">
                <div class="text-capitalize font-weight-bold">Nom</div>
                <div class="text-capitalize font-weight-bold">Poste</div>
                <div class="text-capitalize font-weight-bold">age</div>
            </div>
            <% list.forEach(data=>{%>
            <div class="d-flex flex-row justify-content-between p-1 border">
                <div><%= data.name%></div>
                <div><%= data.position %></div>
                <div><%= data.age %></div>
            </div>
            <% }); %>
        </div>


    </div>





   <script language="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>